body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#one {
	border-color: #0000ff;
	bottom: 0;
	right: 0;
    padding: 5px;
    margin: 5px;
    border-width: 5px;
    border-style: solid;
    width: 25%;
    position: fixed;
    z-index: 5;
    text-align: left;
}
#two {
	border-color: #008000;
	top: 0;
	right: 0;
    padding: 5px;
    margin: 5px;
    border-width: 5px;
    border-style: solid;
    width: 25%;
    position: fixed;
    z-index: 5;
    text-align: left;
}
#three {
	border-color: #ffa500;
	top: 0;
	left: 0;
    padding: 5px;
    margin: 5px;
    border-width: 5px;
    border-style: solid;
    width: 25%;
    position: fixed;
    z-index: 5;
    text-align: left;
}
#four {
	border-color: #ffd700;
	bottom: 0;
	left: 0;
    padding: 5px;
    margin: 5px;
    border-width: 5px;
    border-style: solid;
    width: 25%;
    position: fixed;
    z-index: 5;
    text-align: left;
}
#link {
	position:fixed;
	top:0;
	text-align:center;
	left:0;
	right:0;
	bottom:0;
}
#link a {
    display: inline-block;
	background-color: #4663cd;
	color: #fefefe;
	padding: 5px 3px;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	text-shadow: 0 1px 0 #3c58c7;
	font-weight: 500;
}